{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Place Autocomplete</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../static/route_planner.js"></script>
    <link rel="stylesheet" href="../static/map.css">
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/notifications.css">
    <!-- <script src="../static/pollution.js"></script> -->



</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="left-div addresses left-content ">
                <div class=" form-container">
                    <form id="directions-form" method="POST">
                        <h2 style="display: flex; justify-content: center; ">
                            ROUTE PLANNER</h2>
                        <div class="elem-group ">
                            <label for="selected-car">SELECT VEHICLE:</label>
                            <select name="selected-car" id="selected-car">
                                {% for car in user.cars %}
                                <option value="{{ car.id }}">{{ car.brand }} - {{ car.model }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="elem-group">

                            <label for="street-origin">ORIGIN ADDRESS:</label>
                            <input class="address_election" type="text" id="street-origin" name="street-origin"
                                placeholder="Enter origin street">
                        </div>
                        <div class="elem-group">

                            <label for="street-destination">DESTINATION ADDRESS:</label>
                            <input class="address_election" type="text" id="street-destination"
                                name="street-destination" placeholder="Enter destination street">
                        </div>
                        <!-- this div is needed for backend logic, not displayed for redundancy reasons but might be needed later -->
                        <div id="hidden">
                            <label for="country-origin">Origin Country:</label>
                            <input class="address_election" type="text" id="country-origin" name="country-origin"
                                placeholder="Enter origin country"><br>

                            <label for="city-origin">Origin City:</label>
                            <input class="address_election" type="text" id="city-origin" name="city-origin"
                                placeholder="Enter origin city"><br>

                            <label for="country-destination">Destination Country:</label>
                            <input class="address_election" type="text" id="country-destination"
                                name="country-destination" placeholder="Enter destination country"><br>

                            <label for="city-destination">Destination City:</label>
                            <input class="address_election" type="text" id="city-destination" name="city-destination"
                                placeholder="Enter destination city"><br>
                        </div>
                        <!-- ----------------------------------------------------------------------------------- -->

                        <div class="directions-button-container">
                            <button class="directions-button" type="button" onclick="handleFormSubmission()">GO</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="right-div right-content">
                <div class=map-box>
                    <div id="map" style="height: 70vh;
                    width: 55vw;"></div><br>
                </div>
            </div>
        </div>
    </div>


    <!-- 
    <div class="textarea-container">
        <textarea id="origin-description-output" readonly placeholder="Description will appear here" rows="100"
            cols="80"><div id="origin-a-container"></div></textarea><br>

        <textarea id="destination-description-output" readonly placeholder="Description will appear here" rows="100"
            cols="80"> <div id="destination-a-container"></div></textarea><br>
    </div> -->
    <div id="hideable">
        <div class="flex-box-description-container">
            <div id="origin-description-box" class="description-box">
                <div id="origin-description-output" class="description-output" readonly>
                    <!-- Description will appear here -->
                </div>
                <div id="origin-a-container"></div>
            </div>
            <div id="destination-description-box" class="description-box">
                <div id="destination-description-output" class="description-output" readonly>
                    <!-- Description will appear here -->
                </div>
                <div id="destination-a-container"></div>
            </div>
        </div>
    </div>
    <br>


</body>

</html>

{% endblock %}