/* body.france {
    background-image: url("../static/france/paris.jpg");
} */

body.belgium {
    background: url("./belgium_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: black !important;
    font-size: 10vh;
    position: absolute;
    top: 12vh;
    left: 8vw;

}

.paragraph-container {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    border-radius: 10px;
    padding: 30px 30px;
}

.text {
    margin: 10px 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
    gap: 8vw;
}

/* .image-container {
    display: flex;
    left: 70%;
    bottom: 20%;
} */

img.on-page {
    height: 40vh;
    width: 40vh;
}

ul:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-left: -15px;
}